Repository voxpupuli/puppet-chrony, pull requests merged in 2020-07, with the labels that each got.

#80 Add support for Gentoo
  README.md
  REFERENCE.md
  manifests/init.pp
  manifests/params.pp
  metadata.json
Labels: enhancement

#82 Add new `driftfile`, `hwtimestamps`, `rtcsync`, and `dumpdir` parameters
  REFERENCE.md
  manifests/init.pp
  manifests/params.pp
  spec/classes/chrony_spec.rb
  templates/chrony.conf.epp
Labels: enhancement, needs-tests

#77 Fix Arch Linux configuration
  manifests/params.pp
  spec/classes/chrony_spec.rb
Labels: bug
