Repository voxpupuli/puppet-chrony, pull requests merged in 2021-08, with the labels that each got.

#125 add Ubuntu support
  README.md
  metadata.json
Labels: enhancement

#128 Actually test services are running
  spec/acceptance/class_spec.rb
  spec/classes/chrony_spec.rb
Labels: bug

#127 Manage chrony-wait.service on RedHat and Suse
  README.md
  REFERENCE.md
  manifests/init.pp
  manifests/params.pp
  manifests/service.pp
  spec/acceptance/class_spec.rb
  spec/classes/chrony_spec.rb
Labels: enhancement

#129 Release Candidate 2.0.1-rc0
  metadata.json
Labels: skip-changelog
