Repository voxpupuli/puppet-chrony, pull requests merged in 2021-01, with the labels that each got.

#102 modulesync 4.0.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .sync.yml
  .travis.yml
  Gemfile
  Rakefile
  metadata.json
Labels: modulesync

#104 Drop Eol CentOS 6 support
  metadata.json
Labels: backwards-incompatible

#105 Drop EoL Debian 8 support
  metadata.json
  spec/acceptance/nodesets/debian-8-x64.yml
  spec/acceptance/nodesets/default.yml
  spec/acceptance/nodesets/docker/centos-7.yml
  spec/acceptance/nodesets/docker/debian-8.yml
  spec/acceptance/nodesets/docker/ubuntu-14.04.yml
Labels: backwards-incompatible

#106 Release 1.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
