Repository voxpupuli/puppet-chrony, pull requests merged in 2021-07, with the labels that each got.

#114 Fix CI on CentOS
  spec/setup_acceptance_node.pp
Labels: bug

#113 Allow users to not set local stratum
  manifests/init.pp
  spec/classes/chrony_spec.rb
Labels: enhancement

#112 Add support for maxupdateskew
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  spec/classes/chrony_spec.rb
  templates/chrony.conf.epp
Labels: enhancement

#117 Drop EoL Puppet 5 support; Add Puppet 7
  metadata.json
Labels: backwards-incompatible

#110 add bindaddress option
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  spec/classes/chrony_spec.rb
  templates/chrony.conf.epp
Labels: enhancement

#116 Add initstepslew
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  spec/classes/chrony_spec.rb
  templates/chrony.conf.epp
Labels: enhancement

#120 Bump version to 2.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
