Repository voxpupuli/puppet-chrony, pull requests merged in 2022-03, with the labels that each got.

#141 Arch Linux: also manage chrony-wait.service
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  .sync.yml
  Dockerfile
  Gemfile
  REFERENCE.md
  data/Archlinux.yaml
  functions/server_array_to_hash.pp
  manifests/init.pp
  spec/acceptance/class_spec.rb
  spec/classes/chrony_spec.rb
  spec/spec_helper_acceptance.rb
Labels: bug

#142 Release 2.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#144 Add confdir (chrony.cond.d) support
  manifests/init.pp
  spec/classes/chrony_spec.rb
  templates/chrony.conf.epp
Labels: enhancement

#145 Add support for several NTS settings.
  manifests/init.pp
  spec/classes/chrony_spec.rb
  templates/chrony.conf.epp
Labels: enhancement

#139 Add support for ntpsigndsocket
  REFERENCE.md
  manifests/init.pp
  spec/classes/chrony_spec.rb
  templates/chrony.conf.epp
Labels: enhancement, needs-rebase

#146 Release 2.3.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
