Repository voxpupuli/puppet-chrony, pull requests merged in 2022-12, with the labels that each got.

#163 init: queryhosts and denyqueryhosts should accept empty strings
  REFERENCE.md
  manifests/init.pp
  spec/classes/chrony_spec.rb
Labels: bug

#165 chrony_spec: fix regexes in "empty allow/deny"
  spec/classes/chrony_spec.rb
Labels: skip-changelog

#166 modulesync 5.4.0
  .msync.yml
  Gemfile
Labels: modulesync
