Repository voxpupuli/puppet-chrony, pull requests merged in 2025-04, with the labels that each got.

#185 Add Debian 11 & 12 support
  metadata.json
Labels: enhancement

#186 Add CentOS 9 support
  metadata.json
Labels: enhancement

#187 Add OracleLinux 8 & 9 support
  metadata.json
Labels: enhancement

#206 Drop EoL Debian 10 support
  metadata.json
Labels: backwards-incompatible

#184 Add Ubuntu 22.04 & 24.04 support
  metadata.json
Labels: enhancement

#134 Drop EoL Ubuntu 18.04
  README.md
  metadata.json
Labels: backwards-incompatible

#208 init: fix `sourcedir` and `confdir` docs
  REFERENCE.md
  manifests/init.pp
Labels: docs
